.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.gameCard {
  width: 8rem;
  height: 8rem;
  background-color: #00f2fe;
  border: 2px solid black;
  border-radius: 10px;
}

.gameButton {
  width: 125px;
  height: 60px;
  margin: 10px;
  background-color: #00f2fe;
  border-radius: 10px;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCard:hover,
.gameButton:hover {
  opacity: 0.8;
}
