.icon {
  color: red;
  font-size: 30px;
}

.center > h3 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}

#button {
  width: 125px;
  height: 60px;
  margin: 10px;
  background-color: aquamarine;
  border-radius: 10px;
  color: black;
}

.tic-tac-toe {
  margin: 0 auto;
}
