/* enter stlyes here */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* min-width: 100vw; */
    background: #093d53;
  }
  
  .container{
    position: absolute;
    overflow: hidden;
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .container .block{
    position: absolute;
    margin: 3px;
    width: 50px;
    height: 50px;
    background: #666;
    box-shadow: 9px 9px 26px #00000090;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30%;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: #f1f1f1
  }
  

  
  .container.circle .block{
    border-radius: 50%;
  }
  
  .container .block:nth-child(3n + 1){
    background: #093d53;
  }
  
  .container .block:nth-child(3n+2){
    background: #8b0785;
  }
  
  .container .block:nth-child(3n + 3){
    background: #b3fcfc;
  }
  
  .container button{
    position: relative;
    z-index: 1;
    margin: 10px;
    border: none;
    background: #0c33b61c;
    padding:  16px;
    border-radius: 10px;;
    box-shadow: 9px 9px 26px #00000050;
    cursor: pointer;
  }

  .setValue{
    z-index: 999;
    height: 36px;
    border: 1px solid #00000030;
    background: #00000030;
    border-radius: 10px;
    margin: 5px;
  }