%a {
  color: inherit;
  text-decoration: inherit;
}

%button {
  border: none;
  outline: none;
  background: inherit;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "./hero";
@import "./faqs";
@import "./footer";
@import "./testimonial";
@import "./features"
