.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.clash-card {
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  /* box-shadow: -1px 15px 30px -12px black; */
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  z-index: 9999;
  backdrop-filter: blur(20px);
}
.clash-card:hover{
  transform: scale(1.01);
}

.clash-card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.name{
  font-weight: 900;
  font-size: 25px;
  font-style: italic;
  color: white;
}
.clash-card__image--barbarian img {
  width: 150px;
  position: absolute;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #ec9b3b;
}

.powers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  flex-direction: column;
}
.powers:hover{
  cursor: pointer;
}

.one-third{
  display: flex;
  color: gray;
  font-family: serif;
  font-style: oblique;
  padding: 5px 5px;
}

.one-third:hover{
  cursor: pointer;
  color: white;
}

.stat{
  margin-left: 5px;
}