.coin-container {
    display: flex;
    justify-content: center;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 42px;
    height: 75px;
    border-bottom: 1px solid #301899;
    width: 1200px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
  
    min-width: 300px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin-price {
    width: 110px;
  }
  
  .coin-volume {
    width: 155px;
  }
  
  .coin-marketcap {
    width: 230px;
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }
