/* enter stlyes here */
.custom-dd-component .feature-area {
  max-width: 400px;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.custom-dd-component .container {
  margin-top: 5rem;
}
