.geo-now-searchbar{
    border: 2px solid lightblue !important;
    outline: none;
    padding-left: 1rem !important;
}
.geo-now-searchbar:focus{
    outline: solid;
    outline-color: lightblue;
    outline-width: 2px;
    border: none;
    background-color: #fff;
    /* border: 5px solid lightblue !important; */
}