/* enter stlyes here */
.play-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
}

.search {
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 4px #01032609;
}

.search ::placeholder {
    color: #010326;
}

.search:focus {
    box-shadow: 0px 0px 4px 4px #01032638;
}

.btn {
    background-color: #00f1feab;
    color: #010326;
    padding: 4px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(173, 169, 169, 0.377);
}

.btn:hover {
    background-color: #00f1fe;
}

.results {
    display: flex;
    justify-content: center;
}

.play-results {
    max-width: 500px;
    background: #ffff;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 4px rgba(173, 169, 169, 0.377);
    color: #010326;
    font-weight: 500;
}

.results-info {
    padding-left: 1rem;
}

.bio,
.location,
.twitter {
    margin-bottom: 0.5rem;
}

.profile-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-link {
    font-size: x-large;
    font-weight: 600;
    text-decoration: underline;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #fff;
    max-height: 125px;
    max-width: 125px;
}

.profile {
    display: flex;
    margin-bottom: 1rem;
}

.profile>:first-child {
    margin-right: 1rem;
}

.profile>:nth-child(2) {
    margin: 0 1rem;
}

.profile>:last-child {
    margin-left: 1rem;
}

.repos-heading {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

.repos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.repo-link {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 600px) {

    .play-results {
        max-width: 450px;
    }

    .profile-details {
        flex-direction: column;
    }

    .repos-heading {
        text-align: left;
    }

    .repos {
        display: block;
    }

    .repo-link {
        text-align: left;
    }
}

@media screen and (max-width: 450px) {

    .play-heading {
        text-align: center;
    }

    .play-results {
        max-width: 300px;
    }

    .profile {
        display: block;
    }

    .profile>:first-child {
        margin-right: 0;
    }

    .profile>:nth-child(2) {
        margin: 0;
    }

    .profile>:last-child {
        margin-left: 0;
    }
}