/* enter stlyes here */

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-input {
  width: 100%;
  max-width: 700px;
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.input-dictionary {
  width: 100%;
  padding: 24px 15px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #000;
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
}

.search-icon-btn {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .container-input {
    position: realtive;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 480px) {
  .search-icon-btn {
    position: absolute;
    right: 20px;
    width: 40px;
    /* background: #f00; */
  }
}

/* ------- Output from API css below ---------------- */

.container-output {
  width: 100%;
  max-width: 700px;
}

.meaning-found {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.word-display {
  border-bottom: 1px solid #000000;
  padding: 20px 0 40px 0;
}

.word-display p {
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.meaning-not-found p {
  font-size: 18px;
  font-weight: 600;
}
