/* enter stlyes here */

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-input {
  width: 100%;
  max-width: 700px;
  padding: 40px;
  display: flex;
  justify-content: center;
  position: relative;

  @media screen (max-width: 480px) {
    padding: 30px 20px;
  }
}

.input-dictionary {
  width: 100%;
  padding: 24px 15px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #000;
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
}

.search-icon-btn {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.meaning-not-found {
  width: 100%;
  max-width: 700px;
  padding: 40px;
}

.meaning-not-found p {
  font-size: 18px;
  font-weight: 600;
}
