/* enter stlyes here */

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-input {
  width: 100%;
  max-width: 700px;
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #000;
}

.input-dictionary {
  width: 100%;
  padding: 24px 15px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #000;
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
}

.search-icon-btn {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .search-icon-btn {
    position: absolute;
    right: 20px;
    width: 40px;
  }
}

/* ------- Output from API css below ---------------- */

.container-output {
  width: 100%;
  max-width: 700px;
}

.meaning-found {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.word-display {
  padding: 20px 40px 40px 40px;
}

.word-display p {
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.meanings-display {
  padding: 0 40px;
}

.meaning {
  border-top: 1px solid #877a7a;
  padding: 20px 0 40px 0;
}

.meaning > span {
  margin-top: 20px;
}

.partOfSpeech {
  padding: 0 20px 0 0;
  margin-top: -40px;
  margin-bottom: 30px;
  background-color: #fff;
  width: fit-content;
}

.partOfSpeech span {
  font-size: 22px;
  font-weight: bold;
}

.meaning > .definitions > ul {
  padding: 20px 30px;
}

.meaning > .definitions > ul > li {
  padding: 10px 0;
  list-style-type: disc;
}

li {
  color: #df37f2;
}

li > span {
  color: #000;
}

.meaning > .synonyms,
.meaning > .antonyms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}

.meaning > .synonyms > span,
.meaning > .antonyms > span {
  width: fit-content;
  margin-right: 30px;
  vertical-align: middle;
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .container-input {
    position: realtive;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 480px) {
  .meanings-display {
    padding: 0 20px;
  }

  .word-display {
    padding: 20px 20px 40px 20px;
  }
}

/* ----------------------------- Meaning not found --------------------------------- */
.meaning-not-found p {
  font-size: 18px;
  font-weight: 600;
}
