/* enter stlyes here */
.card{    
    width: 100%;
    height: 100%;
}
.search{
    width: 100%;
    height: 100%;
}
.play-details-body{
    background: url('./images/bg8.jpg');
    background-size: cover;
}