/* enter stlyes here */
.poke-card-container{    
    width: 100%;
    height: 100%;
}
.poke-search-container{
    width: 100%;
    height: 100%;
}
.play-details-body{
    background: url('./images/background.jpg');
    background-size: cover;
}