/* enter stlyes here */
.poke-card-container{    
    width: 100%;
    height: 100%;
}
.poke-search-container{
    width: 100%;
    height: 100%;
}
.skeleton-pokemon-app{
    background: url('./images/background.jpg');
    background-size: cover;
    height: 100%;
}
.poke-stats-back-btn {
    align-items: center;
    margin: 25px 0 15px 0;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding: 0px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }