.container {
  border: 2px solid;
  width: fit-content;
}

.modData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
  width: 50%;
  height: 50%;
  row-gap: 20px;
}
