@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.fun-quiz-main {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fun-quiz-main .main-child {
  width: 500px;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(1) {
  font-size: 1.1rem;
  line-height: 1;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(1) h4:nth-of-type(1) {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(1) h4:nth-of-type(1) span:nth-of-type(1) {
  font-size: 4rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(1) h4:nth-of-type(2) {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: red;
}

@media screen and (max-width: 600px) {
  .fun-quiz-main .main-child .quiz-summary div:nth-child(1) {
    font-size: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(2) span:nth-of-type(1) {
  font-size: 4rem;
  font-weight: bold;
  color: red;
  line-height: 1;
}

.fun-quiz-main .main-child .quiz-summary div:nth-child(2) span:nth-of-type(2) {
  font-weight: bold;
}

.fun-quiz-main .main-child h1 {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 40px;
}

.fun-quiz-main .main-child h1::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 5px;
  border: 2px solid #f2317f;
  border-radius: 20px;
}

.fun-quiz-main .main-child p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: -25px;
  margin-bottom: 25px;
  color: #009a31;
  line-height: 1.5;
}

.fun-quiz-main .main-child .selectable-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 15px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fun-quiz-main .main-child .selectable-options .single-selection {
  background-color: #f2f4f6;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218, 0.4);
          box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218, 0.4);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  color: #444444;
  font-weight: bold;
}

.fun-quiz-main .main-child .selectable-options .single-selection:hover {
  background-color: #444444;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 75ms ease-in;
  transition: 75ms ease-in;
}

.fun-quiz-main .main-child .selectable-options .active-selected {
  background-color: #444444;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fun-quiz-main .main-child .front-footer {
  margin: 2rem 0;
}

.fun-quiz-main .main-child .front-footer button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #444444;
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 40px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Quicksand', sans-serif;
}

.fun-quiz-main .main-child .front-footer button:hover {
  background-color: #333333;
}

.fun-quiz-main .main-child .congrats {
  color: green;
}

.fun-quiz-main .main-child .cheated {
  color: red;
}

.fun-quiz-main .main-child .circle-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.fun-quiz-main .main-child .circle-area .circle-correct {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: green;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.fun-quiz-main .main-child .circle-area .circle-incorrect {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #f6003c;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.fun-quiz-main .main-child .display-question {
  margin: 1.5rem 0;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #ffffff;
  position: relative;
}

.fun-quiz-main .main-child .correct {
  background-color: green;
}

.fun-quiz-main .main-child .incorrect {
  background-color: #f6003c;
}

.fun-quiz-main .main-child .question-number {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: #444444;
  padding: 0 10px;
  border-radius: 20px;
  color: #ffffff;
}

.fun-quiz-main .main-child .back {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: #0a66c2;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .fun-quiz-main .main-child {
    width: calc(100% - 2rem);
  }
}
/*# sourceMappingURL=FrontScreen.css.map */