* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.product-entry-form .productsMainWrap {
	max-width: 950px;
  width: calc(100% - 40px);
	margin: 40px auto 0;	
}
.product-entry-form .productsMainWrap .productsItems {
	width: 60%;
	float: left;
}
.product-entry-form .productsItems,
.product-entry-form .productsEnteryWrapper {
	background-color: #464646;
	padding: 20px;
	border-radius: 15px;
	border: solid 2px #323232;
}
.product-entry-form .productsEnteryWrapper {
	width: calc(40% - 25px);
	float: left;
	margin-left: 25px;
}
.product-entry-form .productsEnteryWrapper h2,
.product-entry-form .productsItems h2 {
	margin: 0 0 20px;
	color: #fff;
}
.product-entry-form .productsEnteryWrapper p{
  color: #9d9d9d;
  margin: 15px 0 0;
  font-size: 14px;
}
.product-entry-form .form-group input,
.product-entry-form .form-group textarea,
.product-entry-form .form-group select {
	padding: 12px 15px;
	width: 100%;
	margin: 0 0 20px;
	border: none;
	background-color: #1f1f1f;
	font-size: 14px;
	font-family: "Poppins";
	border-radius: 5px;
  color: #eee;
}
.product-entry-form .form-group input[type="submit"] {
	margin: 0;
	background-color: #576e85;
	color: #fff;
	cursor: pointer;
}
.product-entry-form .form-group input:focus,
.product-entry-form .form-group textarea:focus {
	outline: solid 1px #576e85;
}
.product-entry-form .productItemsWrapper .productItem{
  background-color: #313131;
  display: flex;
  gap:22px;  
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  border: solid 1px #414141;
  color: #eee;
  line-height: 1.5;
}

.product-entry-form .productItemsWrapper .productImage{
  line-height: 1;
}
.product-entry-form .productItemsWrapper .productImage img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;  
  border-radius: 8px;
}
.product-entry-form .productItemsWrapper .productDes,
.product-entry-form .productItemsWrapper .productDes .productTopBar,
.product-entry-form .productItemsWrapper .productDes .productBottomBar{
  width: 100%;
  float: left;
}
.product-entry-form .productItemsWrapper .productDes .productTopBar{
  display: flex;
  justify-content: space-between;  
}
.product-entry-form .productItemsWrapper .productDes .productBottomBar{
  margin-top: 10px;
}
.product-entry-form .productItemsWrapper .productDes .productBottomBar .price{
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-top: 11px;
  background-color: #576e85;
  padding: 4px 15px;
  border-radius: 4px;
}
.product-entry-form .productsMainWrap .productsItems .topBar h2 {
    margin: 0;
}
.product-entry-form .productsMainWrap .productsItems .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-entry-form .productsMainWrap .productsItems .topBar select {
    color: #fff;
    padding: 3px 25px;
    font-size: 15px;
    border-radius: 4px;
    border: solid 1px #1f1f1f;
    background-color: #1f1f1f;
}
.product-entry-form .productsMainWrap .productsItems .topBar select:focus{
	outline: none;
}
.product-entry-form h2.noData {
  text-align: center;
  margin: 30px 0 10px;
}
.product-entry-form .form-group.btnWrap{
  display: flex;
  gap: 20px;
}
.product-entry-form input[type=button]{
  margin: 0;
  cursor: pointer;
  background-color: #595959;
}
.product-entry-form button.addNewBtn{
  font-size: 14px;
  font-family: "Poppins";
  padding: 12px 15px;
  width: 100%;
  border-radius: 5px;
  background-color: #576e85;
  border: none;
  color: #fff;
  cursor: pointer;
}
.product-entry-form label{
  color: #9d9d9d;
  font-size: 14px;
  margin-right: 10px;
}
@media screen and (max-width:767px){
	.product-entry-form .productsMainWrap {
	    display: flex;
	    flex-direction: column-reverse;
	    gap: 20px;
	    padding: 20px;
	}
	.product-entry-form .productsMainWrap, .product-entry-form .productsMainWrap .productsItems, .product-entry-form .productsEnteryWrapper {
	    width: 100%;
	    margin: 0;
	}
	.product-entry-form .productItemsWrapper .productItem {
	    flex-direction: column;
	}
}