.play-area {
  background-color: rgb(228, 237, 133);
  padding: 50px;
  /* margin:50px 100px; */
  border-radius: 15px;
  font-family: 'Julee', cursive;
  /* margin-right: 200px; */
}

.play-button {
  width: 100%;
  margin: 20px 0;
  font-size: 200%;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
}

.play-area p {
  font-size: 30px;
}
