.play-area {
  /* background: antiquewhite; */
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
}

.quote-area {
  min-height: 15rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote{
  height: 100%;
  width: 45%;
  font-size: 2rem;
  justify-items: center;
  margin-left: 30%;
}

.page-author {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.page-author{
  margin-left: 30%;
}

.author {
  float: right;
}

.change-btn {
  width: 4rem;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  outline:none;
}

.change-btn:hover:enabled {
  background-color: rgb(193, 192, 192);
}
