/* enter stlyes here */
.card-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 24px;
    padding: 84px 16px;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    cursor: pointer;
    background-color: #fff !important;
}

.card:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
}

.author {
    font-weight: 600;
    font-size: 12px;
}

.published-at {
    font-size: 10px;
}

.header-panel {
    position: fixed;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    height: 64px;
    padding: 16px;
    z-index: 999;
}

.header-panel-inputs {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.menu-form-control {
    width: 200px;
}

.category-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.app-title {
    font-size: 24px;
    font-weight: 500;
}