/* enter stlyes here */
.code-editor-tab-button-container{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}
.code-editor-container{
  padding-top: 0.5%;
}
.code-editor-dropdown{
  margin-top: 15px;
  display: flex;
  margin-left: 36%;
}
.code-editor-btn{
  max-width: 240px;
  min-width: 100px;
  height: 50px;
  margin-right: 5px;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: larger;
  font-weight: 200px;
}
.code-editor-dropdown label{
   font-size: larger;
   font-weight: 400;
   font-family: sans-serif;
   margin-right: 12px;
}
.code-editor-dropdown select{
  width: 300px;
  background-color: black;
  color: white;
}
.code-editor-dropdown select option{
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-editor-cont{
  margin-top: 20px;
  border: 5px solid white;
}
.code-editor-cont:hover{
  border: 5px  solid rgb(0, 255, 0);
}
.code-editor-bottom-pane{
  height: 50vh;
  display: flex;
}
@media (max-width: 764px){
   .code-editor-tab-button-container{
    flex-direction: column;
   }
   .code-editor-dropdown {
    margin-left: 20%;
   }
   .code-editor-dropdown  label {
     font-size: medium;
     margin-right: 0px;
   }
   .code-editor-dropdown  select{
    width: 100px;
   }
}