:root {
  --space-sm: 1.25rem;
  --space-lg: 5rem;
  --rounded-lg: 0.5rem;
}

.contributor_page {
  padding: var(--space-sm);
  background-color: rgb(227, 227, 227);
  display: grid;
  grid-template-columns: minmax(15rem, 25%) 1fr;
  gap: 2rem;
  /* p-5 bg-gray-100 h-full flex flex-row gap-5 */
}

.left_section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-lg);
  border-radius: var(--rounded-lg);
  @apply shadow-md;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}
