/* Video */
/* TODO - safe to remove? */
.video {
  width: 60%;
  max-width: 720px;
  margin: 6rem auto 0 auto;
  box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);
  -webkit-box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);
  -moz-box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);
}

@media screen and (max-width: 1200px) {
  .video {
    width: 60%;
    margin: 4rem auto 4rem auto;
  }
}

@media screen and (max-width: 1024px) {
  .video {
    width: 80%;
    margin: 4rem auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .video {
    width: 80%;
    margin: 2rem auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .video {
    width: 90%;
    margin: 4rem auto 0 auto;
  }
}

/* Pills */
/* TODO - safe to remove? */
.pills-category {
  margin: 3rem 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .pills-category {
    flex-wrap: wrap;
  }
}

.pills-category a {
  display: inline-block;
  padding: 0.6rem 2.4rem;
  border-radius: 3px;
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: rgba(var(--color-neutral-90-rgb), 0.6);
  transition: all 0.16s ease-in-out;
}

@media screen and (max-width: 768px) {
  .pills-category {
    margin: 3rem 1rem 1rem 1rem;
  }

  .pills-category a {
    padding: 0.6rem 1.4rem;
    font-size: var(--fs-sm);
  }
}

.pills-category a:hover,
.pills-category a:focus {
  background: rgba(var(--color-brand-primary-rgb), 0.3);
  color: rgb(13, 12, 34);
}

.pills-category a.active {
  background: rgba(var(--color-neutral-90-rgb), 0.12);
  color: var(--color-neutral-90);
  font-weight: var(--fw-bold);
}

/* HOME ANCHOR IS SHARED STYLES FOR SECTIONS LINKS */
.home-anchor {
  position: relative;
  font-family: var(--ff-accent);
  font-size: var(--fs-md);
  color: var(--color-neutral-90);
  text-decoration: none;
  padding-right: 1.4rem;
  transition: all 0.12s ease-in-out;
}

.home-anchor .text {
  position: relative;
  z-index: 1;
  color: var(--color-neutral-80);
  font-family: var(--ff-accent);
}

.home-anchor:hover .text,
.home-anchor:focus .text {
  color: var(--color-neutral-90);
}

.home-anchor:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 1.6rem;
  left: 0;
  height: 2px;
  background-color: var(--color-brand-primary);
  transition: all 0.12s ease-in-out;
}

.home-anchor:hover:before,
.home-anchor:focus:before {
  background-color: var(--color-brand-primary);
  height: 4px;
  bottom: -2px;
}

.home-anchor:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.187' height='7.957' viewBox='0 0 16.187 7.957'%3E%3Cpath id='Icon_awesome-long-arrow-alt-right' data-name='Icon awesome-long-arrow-alt-right' d='M11.343 12.791H.434A.434.434 0 0 0 0 13.225v2.023a.434.434 0 0 0 .434.434h10.91v1.664a.867.867 0 0 0 1.48.613l3.109-3.109a.867.867 0 0 0 0-1.226l-3.109-3.109a.867.867 0 0 0-1.48.613Z' transform='translate(0 -10.258)' fill='%2300f2fe'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: all 0.12s ease-in-out;
}

.home-anchor:hover:after,
.home-anchor:focus:after {
  right: -0.4rem;
}

.home-anchor.home-anchor-sm {
  font-size: calc(var(--fs-rg) * 1.2);
  line-height: 1.2;
}

.home-anchor.home-anchor-sm:before {
  bottom: -1px;
  height: 2px;
}

.home-anchor.home-anchor-sm:hover:before,
.home-anchor.home-anchor-sm:focus:before {
  bottom: -2px;
  height: 3px;
}

.home-anchor.home-anchor-sm:after {
  width: 16px;
  background-size: contain;
}
