.app-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-neutral-90);
  color: #fff;
  height: 64px;
  padding: 0 1rem 0 0.6rem;
}

@media screen and (max-width: 768px) {
  .app-header {
    padding: 0 1rem 0 0.2rem;
  }
}

.app-header-home {
  position: fixed;
}

.app-logo {
  display: block;
  width: 178px;
  height: 60px;
  margin-right: 1rem;
  background-image: url("../../images/img-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.16s ease-in-out;
}

@media screen and (max-width: 768px) {
  .app-logo {
    width: 58px;
    height: 64px;
    margin-right: 0;
    background-image: url("../../images/img-logo-sm.svg");
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .app-logo {
    width: 42px;
    height: 64px;
    margin-right: 0;
    background-position: center center;
  }
}

.navbar-toggler {
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem;
  background-color: transparent;
  border-radius: 2rem;
  transition: box-shadow .15s ease-in-out;
  color: var(--color-neutral-20);
  display: inline-flex;
  align-items: center;
  border-color: transparent;

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: .7;
  }

  &:hover, &:focus {
    background-color: var(--color-neutral-80);
  }

  &:hover .navbar-toggler-icon, &:focus .navbar-toggler-icon {
    opacity: 1;
  }
}

.navbar-collapse {
  display: none;

  &.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:before {
      content: "";
      background-color: var(--color-neutral-90);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      opacity: 60%;
    }

    .header-links {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-neutral-10);
      width: 80%;
      max-width: 300px;
      padding: 1rem;
      flex-direction: column;
      z-index: 1;
      align-items: flex-start;
      grid-gap: .6rem;
    }
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.header-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  grid-gap: 0.1rem;

  > li {
    > {
      a {
        color: #fff;
        margin-left: 0;
        display: block;
        width: var(--navbar-icon-size-rg);
        height: var(--navbar-icon-size-rg);
      }

      .app-header-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 1px var(--color-brand-primary);
        border-radius: 2rem;
        grid-gap: 0.4rem;
        padding: 0.4rem 1.2rem;
        font-size: var(--fs-sm);
        text-decoration: none;
        width: unset;
        height: unset;
        transition: all 0.12s ease-in-out;
      }

      .app-header-btn--default {
        border: none;
        background-color: transparent;
        color: var(--color-neutral-80);
        grid-gap: 0.3rem;
        padding: 0.6rem;

        .btn-label {
          color: var(--color-neutral-70);
          margin-left: 0.2rem;
          display: none;
        }
      }

      .app-header-btn--primary {
        border: solid 2px var(--color-brand-primary);
        background-color: var(--color-brand-primary);
        color: var(--color-neutral-80);
        grid-gap: 0.3rem;
        margin-left: 0.4rem;
      }

      .app-header-btn.app-header-btn--primary {
        &:hover, &:focus {
          border-color: var(--color-neutral-10);
          background-color: var(--color-neutral-10);
        }
      }
    }

    &.menu-spacer {
      margin-right: 1rem;
    }
  }
}

.navbar-collapse.show .header-links {
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    .menu-closer {
      display: block;
    }

    &.show .header-links {
      grid-gap: .2rem;
    }
  }

  .header-links > li {
    &.menu-spacer {
      margin: .4rem 0 1rem 0;
    }

    > .app-header-btn--default .btn-label {
      display: block;
    }
  }
}

.header-links > li > .app-header-btn {
  &.app-header-btn--primary .icon {
    fill: var(--color-neutral-70);
  }

  .icon {
    width: var(--navbar-icon-size-rg);
    height: var(--navbar-icon-size-rg);
    fill: var(--color-neutral-40);
  }

  &:hover .icon {
    fill: var(--color-neutral-10);
    fill: var(--color-neutral-10);
  }

  .btn-label {
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
  }

  &:hover, &:focus {
    background-color: rgba(var(--color-brand-primary-rgb), 0.3);
  }

  &.app-header-btn--secondary {
    &:hover, &:focus {
      border-color: var(--color-neutral-10);
      background-color: var(--color-neutral-10);
    }

    border: solid 1px var(--color-neutral-60);
    border-radius: 2rem;

    &:hover, &:focus {
      background-color: rgba(var(--color-neutral-10-rgb), 0.1);
    }
  }
}

.navbar-collapse.show .header-links > li > {
  .app-header-btn--default {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    &:hover, &:focus {
      background-color: rgba(var(--color-neutral-90-rgb), 0.07);
    }

    &:hover .btn-label, &:focus .btn-label {
      color: var(--color-neutral-90);
    }

    &:hover .icon, &:focus .icon {
      fill: var(--color-brand-primary-dark);
    }
  }

  .app-header-btn--primary {
    height: 2.6rem;

    &:hover, &:focus {
      background-color: rgba(var(--color-neutral-90-rgb), 1);
      color: var(--color-neutral-10);
    }
  }
}

.menu-closer {
  display: none;
  text-align: right;

  .navbar-closer {
    border: 0;
    padding: .4rem;
    background: transparent;
    height: 2rem;

    .navbar-closer-icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--color-neutral-50);
    }

    &:hover .navbar-closer-icon, &:focus .navbar-closer-icon {
      fill: var(--color-neutral-90);
    }
  }
}

@media screen and (max-width: 768px) {}

/* searchs Modal */

.modal-share {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;

  /* Probably need media queries here */
  width: 400px;
  max-width: 90%;
  max-height: 90%;
  border-radius: 0.2rem;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);
  -webkit-box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);
  -moz-box-shadow: 0px 0 26px 0px rgba(var(--color-neutral-90-rgb), 0.62);

  .modal-share-header {
    padding: 1rem 1.6rem 1.6rem 1.4rem;

    .modal-title {
      margin: 0;
      font-size: var(--fs-md);
    }
  }

  padding: 1.6rem;
  flex-grow: 1;

  .modal-share-close {
    position: absolute;
    top: .6rem;
    right: .6rem;
    padding: .6rem;

    .icon {
      fill: var(--color-neutral-70);
    }

    &:hover, &:focus {
      background-color: var(--color-neutral-30);
    }

    &:hover .icon, &:focus .icon {
      fill: var(--color-neutral-100);
    }
  }

  .modal-share-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-gap: 0.6rem;
    padding: 1rem 1.6rem 1.4rem 1.6rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      color: var(--color-neutral-70);
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
    }

    .form-control {
      font-size: var(--fs-rg);
      padding: 0.4rem 0.2rem;

      option {
        padding: 1.6rem;
        font-size: var(--fs-rg);
      }
    }
  }
}

/* Social Share */

.social-share-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1rem;

  .social-share-button {
    .icon {
      fill: var(--color-neutral-70);
    }

    &:hover .icon {
      fill: var(--color-brand-primary);
    }
  }
}

/* App Header Modal */

.app-header-modal {
  position: absolute;
  background-color: var(--color-neutral-10);
  padding: 1.6rem 2rem;
  width: 360px;
  right: 1.6rem;
  margin-top: 0.6rem;
  font-size: var(--fs-rg);
  color: var(--color-neutral-70);

  .modal-title {
    margin: 0 0 1rem 0;
    font-family: var(--ff-accent);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--color-neutral-90);
  }
}
