html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.box {
    border: 2px solid #4CAF50;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    margin: 10px 0;
    width: 80%;
    max-width: 800px; 
}

button {
    position: relative;
    padding: 12px 25px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease; 
    z-index: 1000; 
}

button:hover {
    background-color: #45a049; 
}

h1 {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 10px;
    text-align: center; 
}

h2 {
    font-size: 2.2em;
    color: #4CAF50; 
    margin-bottom: 15px; 
    text-align: center; 
}

p {
    font-size: 1.5em;
    color: #333; 
    text-align: center; 
    margin-top: 10px; 
}
