/* enter stlyes here */
*{
    box-sizing: border-box; 
  }
  
  .play-details{
    background-color: #724040;
  }
  .main{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  h1, h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .output-div{
    background-color: white;
    height: 10rem;
    width: 20rem;
    padding: 2rem;
    margin: auto;
  }