/* enter stlyes here */
  
  .md-editor.play-details{
    background-color: #724040;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
  }
  
  .md-editor.main{
    display: flex;
    flex-direction: column;
    text-align: center;  
  }
     
   .md-editor.heading-1{
    margin: 2rem 0rem;
    font-size: larger;
    font-weight: 900;
    color: #ffffff;
   }

   .md-editor.heading-3{
    margin-bottom: 0.5rem;
    font-weight: bold;
   }

   .md-editor.md-editor.output-div{
    background-color: white;
    height: 10rem;
    width: 20rem;
    padding: 2rem;
    margin: auto;
  }