/* enter stlyes here */
.overlay {
    background-color: #00000090;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.modal__btn{
    background-color: slateblue;
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    /* font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif; */
}
.modal_content {
    background-color: white;
    height: auto;
    position: absolute;
    width: auto;
    min-width: 250px;
    max-width: 84%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}
@media screen and (max-width: 600px) {
    .modal_content {
        max-width: 100%;
        min-width: 99%;
    }
}

.close_modal {
    background-color: #f1f1f1;
    color:gray;
    width: auto;
    aspect-ratio: 1 !important;
    font-weight: bold;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 20%);
    cursor: pointer;
    padding:2px;
    border-radius: 4px;
}
.modal_content > iframe{
    border-radius: 8px;
}