@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #BDF1F6;
}

.container{
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.showContent{
  font-size: 2rem;
}

h3{
  padding: 1rem;
}

p{
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.giveDetails{
  background-color: orange;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.details{
  height: 100vh;
  font-family: 'Anek Tamil', sans-serif;
  overflow-x: hidden;
}

.details .accordian{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.details .title{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

details{
  width: 30%;
}

.details .userInfo{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.details .userInfo .persInfo{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: 	#8fbaf3;
  padding: 1.8rem;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgb(105, 103, 103);
  font-weight: bold;
  margin-bottom: 1rem;
  width: 23%;
}

.details .userInfo .persInfo p{
  text-align: center;
}

.userName, .userMail, .userCont, .userLP, .userLPL{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: 100%;
}

.details .userInfo .persInfo label{
  margin-top: 1rem;
}

.details .userInfo .persInfo input{
  
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 7px;
  background-color: #8fbaf3;
  width: 100%;
  font-size: 1rem;
}

.details .userInfo .persInfo input::placeholder{
  font-family: 'Anek Tamil', sans-serif;
  font-weight: bold;
}

summary{
    padding: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    width: 82%;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

.skills, .projects, .certification{
  margin-top: 2rem;
}

.phd{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.phdDet span{
  margin-left: 10px;
}

.phdDet i{
  cursor: pointer;
}

.chTemp{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media (max-width : 420px){
  .personel, .educn, .work, .skills, .projects, .certification{
    width: 95%;
  }

  .details .userInfo{
    width: 90%;
    justify-content: center;
    margin-left: 0;
  }

  .details .userInfo .persInfo{
    padding: 2rem;
    margin-left: 1rem;
    width: 90vw;
  }
}

@media (min-width : 750px) and (max-width: 850px){
  .personel, .educn, .work, .skills, .projects, .certification{
    width: 45%;
  }

  .details .userInfo{
    width: 40vw;
    margin-left: 1rem;
  }

  .details .userInfo .persInfo{
    width: 100%;
  }
}