

.password-generator .main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.password-generator .title {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.password-generator .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-generator .section > div:nth-of-type(2) {
    position: relative;
    /* background-color: black; */
}

.password-generator .copy-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #187B86;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    background-color: #187B86;
    outline: none;
    color: white;
    transition: 100ms;
}

.password-generator .copy-button:hover {
    background-color: #135088;
    border: 2px solid #135088;
    border-left: none;
}

.password-generator .copid {
    background-color: #135088;
    border: 2px solid #135088;
    border-left: none;
}

.password-generator .section > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    column-gap: 25px;
    row-gap: 20px;
    margin: 25px 0;
}

.password-generator .password-input {
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 400px;
    /* max-width: 400px; */
    color: gray;
}


.password-generator .generate-pwd {
    padding: 10px 1rem;
    outline: none;
    font-size: 1.5rem;
    outline: none;
    background: rgb(0,128,0, 0.8);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 100ms;
    margin: 1rem 0 0 0;
}

.password-generator .generate-pwd:hover {
    background: rgb(0,128,0, 1);
}

.password-generator .checkbox-comp {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-generator .checkbox {
    width: 20px;
    height: 20px;
    float: right;
}

.password-generator .select {
    width: 45px;
    height: 25px;
    font-size: 1rem;
    float: right;
    margin: 0;
}

.password-generator .error {
    color: red;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .password-generator .section > div:nth-of-type(1) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
    }

    .password-generator .password-input {
        font-size: 1rem;
        width: 100%;
    }
    .password-generator .copy-button {
        padding: 0 5px;
        font-size: 16px;
    }
}