*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.like-container {
  width: 45px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  .like-icon {
    width: 25px;
    height: 25px;
    transition: transform 0.5s ease;
    border-radius: 50%;
    svg {
      width: 25px;
      position: absolute;
      z-index: 10;
      transition: background-color 0.2s ease, transform 0.2s ease,
        opacity 0.4s ease;
      path {
        stroke: #646464;
        stroke-width: 2px;
        fill: none;
      }
    }
  }
  .like-count {
    font-size: 14px;
    line-height: 2;
  }
  .liked.front {
    path {
      fill: red;
      stroke: none;
    }
  }
  .liked.back {
    opacity: 0;
    transform: scale(1.6);
    path {
      fill: red;
      stroke: none;
    }
  }
}
