.multi-select-container{
  display: flex;
  justify-content: center;
}

#select {
  width: 500px;
  margin-top: 100px;
  #selector {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;

    #search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon-button {
        cursor: pointer;
      }
      #input {
        border: none;
        outline: none;
        padding: 5px 8px;
        width: 90%;
        font-family: "Roboto", sans-serif;
        background-color: transparent;
      }
    }

    #selected-options {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .option {
        background-color: aqua;
        border-radius: 5px;
        padding: 4px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  #options {
    width: 500px;
    padding: 5px 10px;
    border: 1px solid black;
    border-top-color: white;
    max-height: 200px;
    overflow-y: scroll;
    &.closed {
      display: none;
    }
    .option {
      padding: 4px;
      margin: 4px;
      cursor: pointer;
      &.selected{
        background-color: aqua;
        border-radius: 5px;
      }
    }
  }
}