name: Add contributors
on:
  pull_request_target:
    types:
      - closed
concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true
jobs:
  add-contributors:
    if: github.event.pull_request.merged == true && github.repository == 'reactplay/react-play'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const creator = context.payload.sender.login
            const opts = github.rest.issues.listForRepo.endpoint.merge({
              ...context.issue,
              creator,
              state: 'all'
            })
            const issues = await github.paginate(opts)

            for (const issue of issues) {
              if (issue.number === context.issue.number) {
                continue
              }

              if (issue.pull_request) {
                return // Creator is already a contributor.
              }
            }

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '@all-contributors please add @creater'
            })
